
.shadow-r {
    box-shadow: 3px 0px 6px #00000029;
}
#header {
    @apply  shadow-2xl sticky -top-15 z-10;
    @apply transition-all ease-in duration-500 ;
    @apply bg-blue;
}


#catalog {
   @apply fixed top-0 bottom-0 inset-x-0 z-10 pt-12;
   @apply transform -translate-x-full;
   @apply h-screen w-full ;
   @apply bg-transparent bg-opacity-75;
   @apply transition-colors ease-in duration-500;
}
#catalog .catalog-layer {
   @apply transform -translate-x-full;
   @apply transition-all ease-in duration-500;
}
#catalog.show .catalog-layer {
   @apply translate-x-0;
}

#catalog.show {
    @apply bg-black bg-opacity-75;
    @apply translate-x-0;
}
#catalog .search {
    @apply fixed -top-15;
    @apply transition-all ease-in duration-500 delay-100;
}
@screen sm {
    
}
#catalog .catalog-container {
    @apply flex;
}
#catalog .catalog-list {
    @apply  bg-white flex flex-col;
    height: calc(100vh - 5.5rem);
}
@screen sm {

    #catalog .catalog-list {
        @apply  w-1/6;
        height: calc(100vh - 5.5rem);
    }
}
#catalog.show .search {
    @apply top-0;
}

@tailwind base;

@tailwind components;

@tailwind utilities;

